body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
    color: #f0f4f8;
    background-color: #1f1f1f;
}
h1, h2, h3, h4 {
    line-height: 20%;
    color: #627d98;
}
h2 {
    text-decoration: underline double #627d98;
}
h3 {
    text-decoration: underline #627d98;
}
a {
    color: #627d98;
}
a:visited {
    color: #bcccdc;
}
a:hover {
    color: #e0e1dd;
}
/* Color */
li.red {
    color: rgb(255,0,0);
}
li.purple {
    color: rgb(173,20,219);
}
li.white {
    color: rgb(255,255,255);
}
li.blue {
    color: #5FCFFC;
}
li.maroon {
    color: #900C3F;
}
span.one {
    color: #c63;
}
span.two {
    color: #cc6633;
}
/* Text */
span.lighter {
    font-weight: light;
}
span.bold {
    font-weight: bold;
}
span.bolder {
    font-weight: bolder;
}
span.underline {
    text-decoration: underline;
}
span.linethrough {
    text-decoration: line-through;
}
span.linecolor {
    text-decoration: underline red;
}
span.double {
    text-decoration: underline double;
}
span.dotted {
    text-decoration: underline dotted;
}
span.wavy {
    text-decoration: underline wavy;
}
span.lineheight {
    line-height: 3;
}
span.spacing {
    letter-spacing: 2.5px;
}
/* Font Family */
span.fontfamily {
    font-family: 'Times New Roman', Times, serif;
}
/* Display Property */
span.inline {
    width: 100px;
    height: 100px;
    background-color: chocolate;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
}
.block {
    width: 100px;
    height: 5px;
    background-color: chocolate;
    margin: 2px;
    padding: 20px;
    border: 1px solid white;
    display: block;
 }
.inlineblock {
    width: 100px;
    height: 5px;
    background-color: chocolate;
    margin: 10px;
    padding: 20px;
    border: 1px solid white;
    display: inline-block;
}
/* CSS units */
section.percentage {
    background-color: #cbc0d3;
    width: 500px;
    height: 50px;
}
div.percentage {
    background-color: #feeafa;
    width: 50%;
    height: 50%;
}
h5 {
    font-size: 1em;
    line-height: 0.8em;
    margin-left: 2em;
    display: inline;
}
p.em {
    display: inline;
    font-size: 2em;
}
button.emem {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.6em;
}
ul.units {
    font-size: 18px;
}
article.emex {
    font-size: 15px;
    display: inline-block;
}
article.emex ul {
    font-size: 1.2em;
}
article.remex {
    font-size: 20px;
    display: inline-block;
}
article.remex ul {
    font-size: 1.2rem;
}
/* Transitions */
.transitions div {
    text-align: center;
    height: 20px;
    width: 100px;
    margin: 10px 0;
    background-color: darkcyan;
    transition: margin-left 2s;
}
.transitions:hover div {
    margin-left: 100px;
}
div:nth-of-type(1) {
    transition-timing-function: linear;
}
div:nth-of-type(2) {
    transition-timing-function: ease-in;
}
div:nth-of-type(3) {
    transition-timing-function: steps(5,end);
}
div:nth-of-type(4) {
    transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}
/* Background */
.bg {
    background: center/20% no-repeat #312244 url("https://images.unsplash.com/photo-1515835854292-afb3d11ec326?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDN8NnNNVmpUTFNrZVF8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}
/* Return to top button */
/* #top button{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: white;
    padding: 15px;
}
#top button:hover {
    background-color: #555;
} */
.no-list-style {
    list-style: none;
}
table, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}